@media only screen and (max-width: 905px) {
    #wrapper {margin: 0px 5px 0px 15px;}
}
@media only screen and (max-width: 740px) {
    .section {
        padding: 15px 0;
    }
    #banner { text-align: center; }
    #banner #logo, #banner #info, #banner #mugshot {
        float:none;
        width: auto;
        margin: 20px 0 auto;
        padding: 0px;
        display: block;
        text-align: center;
    }
    h3{ float: none; }
    h4{ margin: 10px 0 5px 0; }
    .content{
        padding: 0 5px;
        float: none;
        width: auto;
    }
    .date{
        margin-left: -5px;
        position: static;
    }
    .item{
        padding:10px 10px;
        position:static;
    }
}
