{% load i18n %}
<form action="{% url contact %}" id="submitform" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="fieldsWrapper {% if field.errors%}error{% endif %} {% if forloop.last %}last{% endif %}">
            {{ field.label_tag }}
            {% if field.errors %}
            <div class="error_messages">
                {{ field.errors|join:" - " }}
            </div>
            {% endif %}
            {{ field }}
        </div>
    {% endfor %}
    <input id="submitbutton" name="submit" type="button" value="{% trans 'submit' %}" class="button"/>
</form>
<script>
$("#submitbutton").click(function(){
    go_to_contact(true);
})
</script>
